body {
  margin: 0;
}
.logo {
  float: left;
  height: 80px;
  width: 90px;
  border-radius: 50%;
  background-color: rgb(171, 187, 199);
}
body,
html {
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
.bg-image {
  /* The image used */
  background-image: url("bluegreenwp.jpg");
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 35em;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-photo {
  position: absolute;
  top: 25%;
  right: 47%;
  z-index: 2;
}
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}
.sm-icons-top {
  background-color: none; /* Fallback color */
  font-size: 2em;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}
.bg-text-hobbieslist {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-family: papyrus;
  font-weight: bold;
  position: absolute;
  top: 120%;
  left: 70%;
  z-index: 2;
  width: 25%;
  padding: 20px;
  text-align: center;
}
.hobbies-undraw {
  position: absolute;
  top: 125%;
  right: 60%;
  z-index: 2;
}
.bg-text-hobbies {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 0px;
  font-family: papyrus;
  position: absolute;
  top: 120%;
  right: 30%;
  z-index: 2;
  width: 10%;
  padding: 20px;
  text-align: center;
}
.bg-image-hobbieslist {
  background-image: url("bluegreenwp2.jpg");
  width: 100%;
  height: 35em;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-education {
  background-image: url("bluegreenwp.jpg");
  width: 100%;
  height: 70em;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.education-undraw {
  position: absolute;
  top: 235%;
  left: 68%;
  z-index: 2;
}
.bg-text-educationtable {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-family: papyrus;
  font-weight: bold;
  border: 0px;
  position: absolute;
  top: 230%;
  right: 40%;
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}
.bg-text-education {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-family: papyrus;
  font-weight: bold;
  border: 0px;
  position: absolute;
  top: 299%;
  left: 60%;
  z-index: 2;
  width: 10%;
  padding: 20px;
  text-align: center;
}
.bg-image-contactme {
  background-image: url("bluegreenwp2.jpg");
  width: 100%;
  height: 35em;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactme-undraw {
  position: absolute;
  top: 410%;
  right: 68%;
  z-index: 2;
}
.bg-text-contactme {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 0px;
  font-family: papyrus;
  position: absolute;
  top: 400%;
  right: 50%;
  width: 8%;
  padding: 20px;
  text-align: center;
}

.bg-text-contactmeform {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-family: papyrus;
  font-weight: bold;
  border: 0px;
  position: absolute;
  top: 406%;
  left: 50%;
  width: 45%;
  padding: 20px;
  text-align: left;
}

label {
  display: block;
}
.sm-icons-bottom {
  background-color: none; /* Fallback color */
  font-size: 2em;
  position: absolute;
  top: 510%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}
.bg-image-footer {
  background-image: url("bluegreenwp.jpg");
  width: 100%;
  height: 23em;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(7px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-bar {
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: rgb(0, 32, 0); /* Add a hover color */
}
